table {
  border-collapse: collapse;
  width: 60%;
  min-width: 600px;
}

th,
td {
  padding: 0.25rem 0.5rem;
  text-align: left;
  border: 1px solid #ccc;
}

tbody tr:nth-child(odd) {
  background: white;
}

.value {
  text-align: right;
}