body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: Montserrat,
  sans-serif;
  color: #383838;
  background-color: #f3f3f3;
  font-size: 18px;
  line-height: 28px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
